

.home-wrapper {
    height: 908px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.home-wrapper .heading-wrapper{
    position: relative;
    left: 0%;
    height: 170px;
    width:100%;
    top:7%;
    /* display:flex;
    justify-content: flex-end; */
}
.home-wrapper .log{
    visibility: hidden;
    position: relative;
    max-width: 100%;
    width: 100%;
}
.log .img3{
    max-width: 100%;
}

.heading-wrapper .heading {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, rgb(158, 208, 232) 50%, rgb(0, 58, 125) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Manrope-ExtraBold", Helvetica;
    font-size: 55px;
    font-weight: 800;
    height:100%;
    left: 0%;
    letter-spacing: -2.48px;
    line-height: 75px;
    position:relative;
    text-align: right;
    text-fill-color: transparent;
    top: 0;
    width: 100%;
}
.home-wrapper .subheading-w {
    position: relative;
    top:-50%;
    float: right;
}

.heading-wrapper .img1 {
    height: 75px;
    left: 217px;
    position: relative;
    top: 100px;
}
.home-wrapper .bgimg{
   height:100%;
   width: 100%;
   position: relative;
   top:-35%;
   scale:1;
   left: 0%;
   z-index: -5;
   max-width: 100%;
}
.home-wrapper .logoo {
    /* left: 7%; */
    top: 20%;
    position:relative;
    float: right;
    width: 100%;
    
}
.logoo .img2{
    position: relative;
    float: right;
    height: auto;
   
}


@media screen and (max-width: 767px) {
    .bgimg{
        display: none;
    }
    .heading-wrapper .heading{
        font-size: 40px;
    }

    .home-wrapper .log { 
        visibility: visible;
        position: relative;
        top: 5%;
    }
    .log .img3{
        scale: 2.5;
    }
    .heading-wrapper .heading{
        text-align: center;
    }
    .home-wrapper .subheading-w {
       
        top:400px;
        left: 5%;
        max-width: 100%;
    }
    .subheading-w .sub-h{
        max-width: 90%;
    }
}

/* Media Query for Medium Screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .heading-wrapper .heading{
        font-size: 50px;
        float: right;
    }
    .heading-wrapper .subheading-w img{
        max-width: 80%;
        float: right;
    }
    
    .home-wrapper .logoo{
        top: 30%;
        left: 8%;
    }
    
    .logoo .img2{
        max-width: 80%;
        height: auto;
        scale: 0.9;
       
    }    
   
}

/* Media Query for Large Screens */
@media screen and (min-width: 1024px) {
   
}