.chars-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
  height: 650px;
  background-color: black;
  border-radius: 60px;
  border-color: #cccccc;
  border-width: 0.1rem;
  position: relative;
  /* align; */

  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: 0px 0px 29px -13px #ffffff;
  margin-bottom: 7rem;
}

.heading {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    90deg,
    rgb(133, 31, 242) 0%,
    rgb(250, 128, 62) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 800;
  /* left: 540px; */
  letter-spacing: -2.48px;
  line-height: 75px;
  position: absolute;
  /* text-fill-color: transparent; */
  top: 1rem;
  /* width: 275px; */
}

.heading-color {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    90deg,
    rgb(133, 31, 242) 0%,
    rgb(250, 128, 62) 100%
  );
}
