
.footer {
  margin: 15px;
  padding: 35px;
  border-radius: 51px;
  border: 1px solid #343434;
  text-align: center;
}

.footer .register-btn {
  border: 1px solid;
  border-color: #ffffff;
  padding: 5px 50px;
}

.title {
  font-family: 'Manrope', Helvetica;
  font-size: 60px;
  font-weight: bolder;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(173.75, 103, 249.69) 0%, rgb(244, 152, 103) 100%);
  background-clip: text;
  color: transparent;
}

.links {
  text-align: start;
}

.links .links-title {
  font-size: 20px;
  font-weight: bolder;
}

.links .link {
  display: block;
  text-decoration: underline;
  margin: 8px 0px;
  color: #CFCFCF;
}

.get-in-touch {
  text-align: start;
}

.get-in-touch .get-in-touch-title {
  font-size: 20px;
  font-weight: bolder;
}

.get-in-touch .get-in-touch-link {
  display: block;
  text-decoration: underline;
  margin: 8px 0px;
  color: #CFCFCF;
}