:root {
    --orang: #fd7e3b;
    --purpl: #a04ef8;
  }
.navbar {
    background-color: #000000;
    /* height: 70px; */
    width: 100%;
    display: flex;
    align-content: center;
    align-self: center;
    /* justify-content: right; */
    /* font-size: 20px; */
}

.navbar .nav {
    /* height: 58px; */
    /* left: 135px; */
    position: relative;
    /* top: 8px; */
    width: 100%;
    display: flex;
    justify-content: right;
    align-content: center;
    align-self: center;
}

.navbar .div2 {
    /* height: 25px; */
    left: 5%;
    position: absolute;
    /* top: 16px; */
    width: 100%;
    font-size: 18px;
    display: flex;
    align-content: center;
}

.navbar .text-wrapper {
    color: #ffffff;
    font-family: "Manrope-Medium", Helvetica;
    /* font-size: 18px; */
    font-weight: 500;
    left: 2%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: auto;
    transition: color 0.3s ease; /* Add a transition for the color property */
}

.navbar .text-wrapper:hover {
    color: var(--purpl); /* Change the text color to purple on hover */
}


.navbar .text-wrapper-2 {
    color: #ffffff;
    font-family: "Manrope-Medium", Helvetica;
    /* font-size: 18px; */
    font-weight: 500;
    left: 15%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: auto;
    transition: color 0.3s ease;
}
.navbar .text-wrapper-2:hover {
    color: #c879c4; /* Change the text color to purple on hover */
}

.navbar .text-wrapper-3 {
    color: #ffffff;
    font-family: "Manrope-Medium", Helvetica;
    /* font-size: 18px; */
    font-weight: 500;
    left: 31%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: auto;
    transition: color 0.3s ease;
}
.navbar .text-wrapper-3:hover {
    color: #d07fb4;/* Change the text color to purple on hover */
}

.navbar .text-wrapper-4 {
    color: #ffffff;
    font-family: "Manrope-Medium", Helvetica;
    /* font-size: 18px; */
    font-weight: 500;
    left: 45%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: auto;
    transition: color 0.3s ease;
}
.navbar .text-wrapper-4:hover {
    color:#de8995;  /* Change the text color to purple on hover */
}

.navbar .text-wrapper-5 {
    color: #ffffff;
    font-family: "Manrope-Medium", Helvetica;
    /* font-size: 18px; */
    font-weight: 500;
    left: 59%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: auto;
    transition: color 0.3s ease;
}
.navbar .text-wrapper-5:hover {
    color:var(--orang); /* Change the text color to purple on hover */
}

.navbar .group {
    height: 58px;
    /* left: 95%; */
    /* margin-right: 3%; */
    right: 8%;
    position: relative;
    top: -10px;
    width: auto;
    
    
}

.navbar .overlap-group-wrapper {
    height: 50px;
    width: 173px;
}

.navbar .overlap-group {
    background-image: url(src/assets/rec.svg);
    background-size: 100% 100%;
    height: 58px;
    position: relative;
    width: 171px;
}

.navbar .text-wrapper-6 {
    color: #ffffff;
    font-family: "Manrope-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    left: 50px;
    width: 80px;
}
@media screen and (max-width: 767px) {
    .navbar .div2{
        display: none;
    }
    .group{
        right: 5%;
        
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
 
    
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    /* Styles for tablets */
    .navbar .div2{
        font-size: 20px;
    }
    .navbar .group{
        height: 50px;
        
    }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    /* Styles for desktop */
    .navbar .div2{
        font-size: 20px;
    }
  }
  
