@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.navbar-wrapper{
    display: flex;
    height: 35px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.navbar{
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
}

.navbar ul li{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    position: relative;
}

.navbar button{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    background-color: white;
    padding-inline: 40px;
    padding-block: 10px;
    border: none;
    position: relative;
    border-radius: 4px;
    right: 5%;
}

.navbar button::before{
    content: "";
    background: linear-gradient(0deg, rgba(152,207,234,1) 50%, rgba(0,69,147,1) 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    scale: 1.1 1.25;
    border-radius: 4px;
}

.active::after{
    content: "";
    width: 45px;
    height: 20%;
    background: #004593;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50%;
    border-radius: 4px;
    
}

@media screen and (max-width: 767px) {
    .navbar ul li{
        font-size: 6px;
    }
    .navbar ul {
        gap: 20px; 
        margin-left: 0%;/* Adjust the gap for medium screens */
        padding: 4px;
    }
    .navbar button {
        font-size: 8px;
    }

    .navbar button {
        top: -1px;
        padding: 5px 10px;
        right: 5%;
    }
    .navbar{
        width: 100%;
    }
    .navbar-wrapper{
        padding: 15px;
        height: 15px;
    }
}

/* Media Query for Medium Screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar-wrapper{
        width: 100%;
        /* scale: 0.95; */
        font-size:14px ;
        padding: 25px;
    }
    .navbar ul {
        gap: 30px; /* Adjust the gap for medium screens */
    }
    .navbar ul li {
        font-size: 14px;
    }
    .navbar button{
        /* scale: 0.95; */
        font-size: 14px;
    }
}

/* Media Query for Large Screens */
@media screen and (min-width: 1024px) {
    .navbar-wrapper {
        padding: 35px;
    }

    .navbar ul {
        gap: 50px;
        /* font-size: 16px ; Adjust the gap for large screens */
    }
    .navbar ul li {
        
        font-size: 16px ; /* Adjust the gap for large screens */
    }
    
}